<!DOCTYPE html>
<html lang="pt-BR" class="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOCH Embutidos e Defumados</title>
    <link rel="icon" href="img/logo.png">
    <link rel="stylesheet" href="css01.css">
	<link rel="stylesheet" href="css02.css">
	<link rel="stylesheet" href="css03.css">

</head>

<body id="block">
    
    <nav class="navbar">
        <div class="logo">
            <a href="index.html">
                <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/logo_koch.png" alt="Logo Koch">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Início</a></li>
            <li><a href="Igor/projeto.tela1 4/index.html">Nossa Historia</a></li>
            <li><a href="Luiz/koch/index.html">Produtos</a></li>
            <li><a href="Igor/projeto.tela1 4/index.html">Como é feito</a></li>
            <li><a href="#localizacao">Localização</a></li>
            <li><a href="#rev">Revendedores</a></li>
            <li><a href="Pedro/LoginKochi - Flex(teste)/index.html">Administrador</a></li>
        </ul>
        <a href="https://wa.me/5545999730157?text=ola%20tudo%20bem%3F" class="contact-button">
            <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/Vector.png" class="icon" alt=""> Contato
        </a>
        <div class="menu-toggle">☰</div>
    </nav>

    <div class="promo" id="popUp">
        <div class="popUp">
            <button onclick="PopUp()">X</button>
            <img onclick="" id="imagePopUp" src="" alt="">
        </div>
    </div>

    <section class="main-banner">
        <img src="https://images.tcdn.com.br/img/img_prod/1362014/pancetta_arrotolata_211_1_b6a1dc56671734fdea41b6dd50138ce3.jpg">
        <div class="texto-banner">
            <h1>KOCH</h1>
            <p>Embutidos e Defumados</p>
        </div>
    </section>

    <section class="section-info">
        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/ima4.png">
        <div>
            <h2>KOCH</h2>
            <p>Trabalhamos de forma natural, sem adição de glutamato monossódico e de corantes. Até porque, o que nos motiva é a sua saúde e segurança alimentar, além de lhe proporcionar momentos inesquecíveis com nossos produtos. Até porque, o que nos motiva é a sua saúde e segurança alimentar, além de lhe proporcionar momentos inesquecíveis com nossos produtos.</p>
        </div>
    </section>

    <section class="produtos">
        <div class="produtos-header">
            <h2 data-sr-id="0" class="sr-animacao-basica">Assinaturas</h2>

        </div>
        <div class="produtos-grid">
            <div class="produto-item">
                <div class="card sr-animacao-card" data-sr-id="3">
                    <div class="img-wrapper">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/ima6.png">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/seloestrela%204.png" class="selo">
                    </div>
                </div>
                <h3 class="nomeproduto">Toscana com Queijo e Ervas</h3>
            </div>
            
            <div class="produto-item">
                <div class="card sr-animacao-card" data-sr-id="4">
                    <div class="img-wrapper">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/ima2.png">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/seloestrela%204.png" class="selo">
                    </div>
                </div>
                <h3 class="nomeproduto">Pernil Defumado de Rolo</h3>
            </div>

            <div class="produto-item">
                <div class="card sr-animacao-card" data-sr-id="5">
                    <div class="img-wrapper">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/ima1.png">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/seloestrela%204.png" class="selo">
                    </div>
                </div>
                <h3 class="nomeproduto">Lombo Defumado</h3>
            </div>

            <div class="produto-item">
                <div class="card sr-animacao-card" data-sr-id="6">
                    <div class="img-wrapper">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/ima3.png">
                        <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/seloestrela%204.png" class="selo">
                    </div>
                </div>
                <h3 class="nomeproduto">Copa Defumada</h3>
            </div>
            <div>
                <p>Ao assinar, você passa a participar da oferta exclusiva de Mix de Produtos da Charcutaria, pensada para proporcionar uma experiência completa a cada mês. A assinatura funciona de forma simples: você escolhe o plano e, mensalmente, recebe uma seleção especial de produtos artesanais, cuidadosamente combinados para garantir variedade e qualidade.</p>
            </div>
            <div>
                <button class="btncomprar">Assinar
                    <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/carrinhoooo%201.png" class="icone-btn">
                </button>
            </div>
        </div>
    </section>

    <section class="producao">
        <h2>Produção dos Produtos</h2>
        <div class="producao-container">
            <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/ima5.png" class="img-producao">
            <div class="producao-bloco">
                <h3>Como funciona o processo</h3>
                <p>A charcutaria artesanal consiste na transformação cuidadosa de carnes suínas e bovinas em produtos como copas, lombos, pastrami, pancettas, bacons e linguiças, por meio de processos tradicionais de toilette, cura, defumação, resfriamento e embalagem. Esse trabalho valoriza o tempo, os temperos e a técnica, garantindo sabor, conservação natural e identidade autoral em cada peça produzida.</p>
                <button class="btn-saibamais">Veja Nosso Catalogo
                    <img src="https://raw.githubusercontent.com/Julia-berti/imagens/refs/heads/master/cardapio%201.png" class="icone-sb">
                </button>
            </div>
        </div>
    </section>

    <section class="certificado">
        <div class="texto-cert">
            <h3>Certificado de qualidade</h3>
            <img src="img/certificado.png">
        </div>
        <div class="texto-qualidade">
            <h3 class="titulo-qualidade">Como cuidamos da qualidade do produto?</h3>
            <p class="descricao-qualidade">Para que isso ocorra da melhor forma possível, nossa equipe começou a estudar as minuciosas técnicas da charcutaria. Aquelas que permitiram que nossos antepassados pudessem preservar a carne para um melhor aproveitamento. Essas técnicas foram passadas por gerações, e hoje fazem parte da nossa história. Seguimos elas gradualmente, desde a seleção dos melhores cortes e temperos, à defumação e embalagem, do mesmo modo em que não esquecemos de evoluir e inovar nossas técnicas.</p>
        </div>
        <div class="imagens-cert">
            <img src="img/Rectangle 54.png">
            <img src="img/Rectangle 55.png">
        </div>
    </section>

    <section class="localizacao" id="localizacao">
        <h2>Localização</h2>
        <div class="container-local">
            <div class="coluna-mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3663.281373271994!2d-53.7366!3d-24.7059!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3fbb8b91d2fdf%3A0x9f8ccf5e64e8f75a!2sBiopark!5e0!3m2!1spt-BR!2sbr!4v1697239400000!5m2!1spt-BR!2sbr" width="400" height="250" loading="lazy" class="mapa-iframe"></iframe>
                <p>Rua das Carobas, 1553, Biopark, Toledo – PR, CEP 85920-260.<br><br>Empresa trabalha de segunda a sexta-feira das 08:30 às 12:00, das 13:00 às 17:00h, sem atendimento ao público, pois não temos loja física.</p>
            </div>
            <div class="coluna-horario">
                <div class="banner-horario">Horário de funcionamento 🕒</div>
                <div class="card-horario">
                    <div class="linha-horario"><span class="dia">Segunda Feira</span><span class="hora">08:00 às 17:30</span></div>
                    <div class="linha-horario"><span class="dia">Terça Feira</span><span class="hora">08:00 às 17:30</span></div>
                    <div class="linha-horario"><span class="dia">Quarta Feira</span><span class="hora">08:00 às 17:30</span></div>
                    <div class="linha-horario"><span class="dia">Quinta Feira</span><span class="hora">08:00 às 17:30</span></div>
                    <div class="linha-horario"><span class="dia">Sexta Feira</span><span class="hora">08:00 às 17:30</span></div>
                </div>
            </div>
        </div>
    </section>

    <footer class="rodape">
        <div class="social">
            <a href="https://www.instagram.com/k.charcutaria/" target="_blank"><img src="img/instagram.png" alt="Instagram"></a>
            <a href="https://www.facebook.com/kochCharcutariaArtesanal/?locale=pt_BR" target="_blank"><img src="img/facebook.png" alt="Facebook"></a>
            <a href="https://api.whatsapp.com/send/?phone=5545999730157&text=ola+tudo+bem%3F&type=phone_number&app_absent=0" target="_blank"><img src="img/whatsapp.png" alt="WhatsApp"></a>
        </div>
        <div class="marca">KOCH</div>
        <p class="subtitulo">Embutidos e Defumados</p>
        <p class="copy">© 2025 Grupo Koch. Todos os direitos reservados.</p>
    </footer>

    </body>
</html>